.color-div {
    float: left;
    height: 45%;
    width: 45%;
    margin: 5px;
}

.speaker-target {
    border: 5px solid black;
    box-sizing: border-box;
}

.color-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
